body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* Nastavi višino na celotno višino zaslona (viewport height) */
}

.navigation {
    width: 20%; /* Nastavi širino navigacije */
    background-color: #f0f0f0;
    padding: 20px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main-content {
    width: 60%; /* Nastavi širino glavne vsebine */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#statistics {
    line-height: 25px;
}