body {
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
}

#selectCountryData {
    font-family: 'Rubik';
}

#selectWeatherData {
    font-family: 'Rubik';
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.navigation {
    width: 300px;
}

#logo {
    width: 50px; 
    height: auto; 
    margin-right: 10px;
}

#header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
}

#title {
    margin: 0;
    flex: 1;
}

#subtitle {
    background-color: #f0f0f0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#touristNavigation {
    background-color: rgba(90, 170, 78, 0.5);
    padding: 20px;
    padding-top:10px;
}

#touristNavigationStatistics {
    background-color: rgba(90, 170, 78, 0.4);
    padding: 20px;
    padding-top:10px;
}

#weatherNavigation {
    background-color: rgb(102, 179, 204, 0.5);
    padding: 20px;
    padding-top:10px;
}
#weatherNavigationStatistics {
    background-color: rgb(102, 179, 204, 0.4);
    padding: 20px;
    padding-top:10px;
}


.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main-content {
    width: 75%; /* Nastavi širino glavne vsebine */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 881px;
}


#slideshow-container {
    padding-left: 200px;
    padding-right: 200px;
}

.mySlides {
    margin-top: 50px;
    font-style: italic;
    animation: fadeInOut 10s linear ;
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }   10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.black-border {
    font-style: italic;
}

select {
    border: white;
}

input[type="radio"]:checked + label{
    font-weight: bold;
  }
input[type="radio"]:checked{
    accent-color: black;
}
.radio {
    gap: 1.2px;
}
