body {
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
}

#selectCountry {
    font-family: 'Rubik';
}

#selectWeatherData {
    font-family: 'Rubik';
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* Nastavi višino na celotno višino zaslona (viewport height) */
}

.navigation {
    width: 20%;
    
}

#title {
    background-color: #f0f0f0;
    padding: 20px;
}

#touristNavigation {
    background-color: rgba(90, 170, 78, 0.5);
    padding: 20px;
}

#weatherNavigation {
    background-color: rgb(102, 179, 204, 0.5);
    padding: 20px;
}


.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main-content {
    width: 60%; /* Nastavi širino glavne vsebine */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#statistics {
    line-height: 25px;
}